/* NavItem.css */
.sidebar-item {
    border-radius: 12px;
    margin-top: 25px;
    padding: 10px 16px;
    transition: all 0.2s ease-in-out;
    background-color: #121330;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  }
  
  .sidebar-item:hover {
    background-color: #2a2a2a;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 255, 128, 0.4); /* green glow on hover */
  }
  
  .sidebar-item.active {
    background-color: #121330;
    border-left: 4px solid #00e676;
    box-shadow: 0 0 10px rgba(0, 230, 118, 0.6);
  }
  