/* src/components/Sidebar.module.css */
.sidebar-item {
    width: 100%;
    box-sizing: border-box; /* ensures padding is included in width */
    overflow: hidden;       /* hides any overflow content */
    white-space: nowrap;    /* prevents text wrapping */
    text-overflow: ellipsis;/* adds "..." if text is too long */
    border-radius: 12px;
}

.navItem {
margin: 1rem 0;
cursor: pointer;
transition: background 0.2s ease;
}

.navItem:hover {
background-color: #2e2e3f;
padding: 0.5rem;
border-radius: 4px;
}
  