/* form.css or styles.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* text-align: center; */
  }
  
  .modal-content {
    position: relative;
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .modal-body {
    max-height: 400px; /* Adjust based on the height of your modal */
    overflow-y: auto; /* Enables vertical scrolling */
    padding-right: 10px; /* Optional: to prevent content being hidden behind the scrollbar */
  }
  
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
  }
  
  button {
    width: 100%;
  }
  
  /* Aligning buttons horizontally in the form group */

.btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.close-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    margin-left: 10px; /* Optional: Add some space between the buttons */
}
  